@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gino Joseph</h1>
    <p class="lead">Good Day,</p>
    <p>I'm kinda new to C#.NET but not the MVC pattern, with previous web development experience using the CakePHP 3 framework extensively.</p>
    <p>
        I've been in web development for one and a half years, and I can confidently say I've found something I'm great at and LOVE doing.
    </p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more about me &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Work Personality Summary</h2>
        <p>
            A highly focused software developer willing to learn and grow, with seven years’ experience in data analysis and junior backend (SQL) development, 
            as well as 2 years experience in web development. Organised, with a keen eye for detail, as well as being innovative in ideas and problem solving.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Work Objective</h2>
        <p>
            Seeking a responsible career position, open and very eager to learn and develop suitable skills and technologies at a high level 
            while adding immense value to your organization.
        </p>
    </div>
    <div class="col-md-12">
        <h2>Education</h2>
        <div class="row">
            <div class="col-sm-6">
                <h3>University of South Africa</h3>
                <p>BSc Computer Science and Information System — 2011-2018</p>
            </div>
            <div class="col-sm-6">
                <h3>Abbotts College Claremont</h3>
                <p>National Senior Certificate — 2006</p>
            </div>
        </div>
    </div>
</div>